cffi==1.16.0
cryptography==42.0.5
greenlet==3.0.3
nest-asyncio==1.6.0
psycopg2==2.9.9
pyaes==1.6.1
pycparser==2.21
Pyrogram==2.0.106
PySocks==1.7.1
python-dotenv==1.0.1
pytz==2024.1
SQLAlchemy==2.0.27
# TgCrypto==1.2.5
typing_extensions==4.10.0
